body {
    background-color: #F8F8F8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #BBBBBB;
}

body > div {
    display: inline-block;
    width: 800px;
    margin-left: calc( (100% - 800px) / 2 );
    /* background-color: red; */
}

header {
    display: inline-block;
    width: 100%;
}
    header > img {
        display: inline-block;
        float: left;
        width: 40px;
    }
    nav {
        display: inline-block;
        float: right;
    }
        a {
            display: inline-block;
            float: left;
            color: #BBBBBB;
            text-decoration: none;
            margin-left: 30px;
            margin-top: 6px;
        }

body > div > div {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
    body > div > div > div {
        display: inline-block;
        width: 40%;
        float: left;
        margin-top: 33px;
        margin-left: 20px;
    }
        h1 {
            margin: 0;
            font-size: 80px;
        }
        p {
            margin: 0;
            font-size: 30px;
        }
    body > div > div > img {
        display: inline-block;
        width: 40%;
        float: right;
        margin-right: 3%;
    }