body {
    background-color: #F8F8F8;
}

body > div {
    display: inline-block;
    width: 800px;
    margin-left: calc( (100% - 800px) / 2 );
    /* background-color: red; */
}

header {
    display: inline-block;
    width: 100%;
}
    header > img {
        display: inline-block;
        float: left;
        width: 40px;
    }
    nav {
        display: inline-block;
        float: right;
    }
        a {
            display: inline-block;
            float: left;
            color: #BBBBBB;
            text-decoration: none;
            margin-left: 30px;
        }

body > div > div {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
    body > div > div > div {
        display: inline-block;
        width: 60%;
        float: left;
    }
    body > div > div > img {
        display: inline-block;
        width: 40%;
        float: left;
    }